nav{
    background: rgba(0, 0, 0, 0.3);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 10;
    position: fixed;
    left: 50%;
    bottom: 2rem;
    transform: translateX(-50%);
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem ;
    backdrop-filter: blur(15px);

}
nav a{
    color: var(--color-ligth);
    font-size: 1.2rem;
    display: flex;
    background: transparent;

    padding: 0.8rem;
    border-radius: 50%;
   
}
nav a:not(.active):hover{
    background: rgba(0,0,0,0.3  )
}
nav a.active{
    background: var(--color-primary);
    color: var(--color-ligth);
}
/* responsive */
@media (max-width: 1024px) {
    nav{
       bottom: 5rem;
    }
    
}
@media (max-width: 600px) {
    nav{
       bottom: 5rem;
    }
  
}